In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [9]:
#Parameter: Number of Suicides 
suicides = pd.read_csv("suicides.csv")
suicides = suicides.drop(['INDICATOR', 'SUBJECT', 'MEASURE','FREQUENCY', 'Flag Codes'], axis = 1)
suicides.rename(columns={"TIME": "Year", "Value":"Suicide_Rate"}, inplace = True)
us = suicides.loc[suicides['LOCATION'] == 'USA']

In [10]:
#Parameter: Percentage of Population Using Internet 
us_internet = pd.read_csv('US_Internet.csv')
us_internet.rename(columns={"Percent_Pop": "Internet_Usage"}, inplace = True)
#us_internet

In [59]:
#Parameter: GDP per Capita 
gdp = pd.read_csv('GDP.csv')
us_gdp = gdp.loc[gdp['LOCATION'] == 'USA']
us_gdp = us_gdp.drop(['INDICATOR', 'SUBJECT', 'MEASURE','FREQUENCY', 'Flag Codes', 'LOCATION'], axis = 1)
us_gdp.rename(columns={"TIME": "Year", "Value": "GDP_Per_Capita"}, inplace = True)
#us_gdp

In [12]:
#Parameter: Average Hours Worked 
hours = pd.read_csv('hours_worked.csv')
us_hours = hours.loc[hours['LOCATION'] == 'USA']
us_hours = us_hours.drop(['INDICATOR', 'SUBJECT', 'MEASURE','FREQUENCY', 'Flag Codes', 'LOCATION'], axis = 1)
us_hours.rename(columns={"TIME": "Year", "Value": "Average_Annual_Hours_Worked"}, inplace = True)
#us_hours

In [13]:
#Parameter: Social Spending
social_spending = pd.read_csv('Social_Spending.csv')
us_social = social_spending.loc[social_spending['LOCATION'] == 'USA']
us_social = us_social.drop(['INDICATOR', 'SUBJECT', 'MEASURE','FREQUENCY', 'Flag Codes', 'LOCATION'], axis = 1)
us_social.rename(columns={"TIME": "Year", "Value":"Social_Spending"}, inplace = True)
#us_social

In [14]:
#Parameter: Unemployment 
us_unemployment = pd.read_csv('unemployment.csv')
us_unemployment.rename(columns={"Yearly Average Rate":"Unemployment_Rate"}, inplace = True)
#us_unemployment

In [50]:
#Parameter: Unemployment 
us_inequality = pd.read_csv('income_inequality.csv')
us_inequality

    Year  Gini Index
0   2015       0.462
1   2014       0.464
2   2013       0.459
3   2012       0.463
4   2011       0.463
5   2010       0.456
6   2009       0.456
7   2008       0.450
8   2007       0.444
9   2006       0.452
10  2005       0.450
11  2004       0.447
12  2003       0.445
13  2002       0.443
14  2001       0.446
15  2000       0.442
16  1999       0.441
17  1998       0.439
18  1997       0.440
19  1996       0.437
20  1995       0.433

In [60]:
parameters = [us_internet, us_gdp, us_hours, us_social, us_unemployment, us_inequality]
final_us = us
for x in parameters:
    final_us = pd.merge(final_us, x, on='Year')
    
final_us.rename(columns={"Gini Index":"Gini_Index"}, inplace = True)
final_us = final_us.drop(['LOCATION'], axis = 1)

In [61]:
final_us.to_csv('final_us.csv', index=False, header=True)

In [66]:
master = pd.read_csv("master.csv")
usa = master.loc[master["country"] == 'United States']
usa = usa.drop(['country', 'suicides_no', 'population', 'country-year','HDI for year', ' gdp_for_year ($) ', 'gdp_per_capita ($)'], axis = 1)
usa.rename(columns={"year":"Year", "age":"Age", "sex":"Sex", "generation":"Generation", "suicides/100k pop":"Suicide_Rate"}, inplace = True)
usa 

usa.to_csv('us_demographics.csv', index=False, header=True)